/* color in data vis: #32ea91 green #3b5179 blue*/
body{
    background-color: #3b5179;
    color:antiquewhite
}
h1{
    color: #32ea91;
    margin-bottom: .5em;
}
h3{
    font-size: 1.5em;
}
.sidebar{
    background-color:#32ea91;
    color: black;
    border-left: solid 20px antiquewhite;
    border-radius: 10px;
}
iframe{
    margin: 2em;
}
.datavis{
    background-color: white;
    margin-top: 3em;
    margin-bottom: 3em;
}
