* {
    font-family: 'Courier New', Courier, monospace;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

.film {
    background-color: black;
}

.film img {
    border: solid black 10px;
    width: 90%;
    display: block;
    margin: auto;
}

.spacer {
    height: 2em;
}

.clippy {
    border-left: solid #C197D2;
    padding-left: .5em;
    margin-top: 2em;
}

.headline {
    color: white;
    font-size: 1.25em;
    background-color: #613659;
    padding-left: 1em;
    border-left: solid #613659 2px;
}

.headline:hover {
    background-color: white;
}

.headline a {
    color: white;
}

.headline a:hover {
    color: #613659;
}

#nameplate {
    color: #C197D2;
    border-left: solid 2px;
    padding-left: 1em;
    font-size: 3em;
}

h1 {
    color: #613659;
    font-weight: 700;
    border-left: solid #C197D2;
    padding-left: 1em;
}

h2 {
    text-align: center;
}

.socials {
    align-self: baseline;
}

.socials a {
    text-decoration: none;
    background-color: #C197D2;
    color: #613659;
    border-left: solid #C197D2 2px;
    margin-right: 1em;
    padding-left: .5em;
}

.socials a:hover {
    background-color: white;
}

nav a {
    color: white;
    text-align: center;
    width: 100%;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    padding: .5em;
    background-color: #613659;
    border-left: solid #613659 2px;
}

nav a:hover {
    color: #613659;
    background-color: white;
}

/* #featured {
        width: 100%;
    } */

/* Color Scheme
Dark Purple: #613659
Pale Purple: #D3B1C2 
Light Purple: #C197D2 */